.thumbnail-wrapper {
  background-color: $lighter;
  height: 120px;
  width: 100%;

  input {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .icon-wrapper {
    position: absolute;
    @include center-align;
    text-align: center;
    width: 100%;
    padding: 0 15px;

    .fas {
      font-size: 20px;
      color: $light;
    }

    p {
      margin: 5px 0 0;
      line-height: 1.2;
    }
  }
}


.image-thumbnail-list {

  li {

    img {
      display: block;
      object-fit: cover;
      height: 120px;
      width: 100%;
    }
  }
}
.thumbnail {
  display: block;
  float: left;
  object-fit: cover;
  border: 5px solid transparent;
}

.image-thumbnail-list .selected {
  border: 5px solid #42b2ad;
}

/**
* sticky bar with folder
* select, search, ...
*/
.control-bar {
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 1;
  padding-bottom: 10px;

}

.card {
  padding: 20px;
  background: $lighter;
  width: 100%;
  margin-top: 15px;

  td {
    padding: 10px 10px 10px 0;
    vertical-align: top;
    word-break: break-word;

    &:first-child {
      width: 70px;
      font-weight: $font-weight-bold;
    }
  }

  .move-file {
    select {
      width: calc(100% - 48px);
      vertical-align: bottom;
    }

    button {
      width: 48px;

      .fas, .fa {
        font-size: 37px;
        line-height: 33px;
      }
    }
  }

  img {
    max-height: 120px;
  }
}


.tab-pane {
  outline: none;
}

.btn-fixed {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $lightest;

  button {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}


.media-library-header {
  @include breakpoint($xsmall) {
    .btn-light {
      margin-bottom: 10px;
      margin-left: 0;
    }

    select {
      margin-bottom: 10px;
    }
  }
}
