.password-strength-meter {
  display: inline-block;

  .before-text {
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    margin-right: 10px;
  }

  .progress-bar {
    display: block;
    width: 150px;
    float: left;
    height: 18px;
    position: relative;

    background: $light;

    .strength-value {
      display: block;
      position: relative;
      height: 100%;
      width: 0;
      text-align: center;
      background: #fff;
      max-width: 100%;

      &:before {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba($warning, 0.2);
      }
    }

    .strength-text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;

      color: $warning;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
    }
  }

  &.ok {
    .progress-bar {
      .strength-value {
        &:before {
          background: rgba($warning-soft, 0.2);
        }
      }

      .strength-text {
        color: $warning-soft;
      }
    }
  }

  &.strong {
    .progress-bar {
      .strength-value {
        &:before {
          background: rgba($secondary, 0.2);
        }
      }

      .strength-text {
        color: $secondary;
      }
    }
  }

  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
