.selectize-input {
  padding: 0 $gutter-regular;
  line-height: $input-height;
  width: 100%;
}

.selectize-control.multi .selectize-input.has-items {
  height: auto;
  padding: 0 8px 0;
}

.selectize-control.multi .selectize-input > div {
  background-color: $secondary;
  color: $lightest;
  border-radius: $border-radius-large;
  padding: 0 10px;
  margin: 0 5px 5px 0;
  line-height: 22px;
}

.selectize-control.single .selectize-input:after,
.selectize-control.multi .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}