<button class="close" ng-click="vm.cancel()"><i class="fal fa-times"></i></button>
<div class="modal-header">
    <h2>Checkin</h2>
</div>
<div class="modal-body">
    <form ng-submit="vm.checkIn(checkinForm, vm.pax_actual)" name="checkinForm" novalidate>
        <div class="form-group" ng-class="{'has-error':checkinForm.$submitted && checkinForm.pax_actual.$invalid}">
            <label>Pax</label>
            <input type="text" ng-model="vm.pax_actual" name="pax_actual" required>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn-confirm">Save</button>
        </div>
    </form>
</div>
