$xxlarge: max-width 1380px;
$xlarge: 1280px;
$notebook: 1024px 1280px;
$regular: max-width 1280px;
$medium: max-width 1180px;
$mediumsmall: max-width 1024px;
$small: max-width 960px;
$xsmall: max-width 768px;
$xxsmall: max-width 600px;
$mobile: max-width 440px;
