<a  class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown"
   data-close-others="true">
    <img alt="" ng-src="images/metronic/flags/{{locale.selected.flag}}.png">
    <span class="langname">{{ locale.selected.name }} </span>
    <i class="fal fa-angle-down"></i>
</a>
<ul class="dropdown-menu dropdown-menu-default">

    <li data-ng-repeat="lang in locale.available" ng-class="{active: lang == locale.selected.key}">
        <a ng-click="locale.setLocale(lang)">
            <img alt="" ng-src="images/metronic/flags/{{locale.meta[lang].flag}}.png">
            {{ locale.meta[lang].name }}
        </a>
    </li>
</ul>