<h1>{{vm.model.name}}</h1>

<h2>General</h2>
<div class="content-box">
    <div class="box-section-wrap">
        <div class="data-list">
            <table>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ vm.model.title}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="box-section-wrap">
        <iframe id="template-preview-iframe" style="width: 100%; height: 800px; border: none;" border="0"></iframe>
    </div>
</div>
