<button class="close" ng-click="vm.close()"><i class="fal fa-times"></i></button>
<div class="modal-header">
    <h2 id="modal-title">{{'billing.invoices.edit.title' |i18n:{type:vm.model.type,number:vm.model.invoice_number}
        }}</h2>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <fieldset>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.subject'|i18n}}</label>
                <input type="text" ng-model="vm.model.subject"/>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.text1'|i18n}}</label>
                <textarea ng-model="vm.model.text1" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.text2'|i18n}}</label>
                <textarea ng-model="vm.model.text2" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.text3'|i18n}}</label>
                <textarea ng-model="vm.model.text3" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.invoice_date'|i18n}}</label>
                <customfield ng-model="vm.model.invoice_date"
                             definition="{type:'date',required:true}"
                             name="date"
                             ng-required="true"></customfield>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.address'|i18n}}</label>
                <select ng-model="vm.address_type">
                    <option value="preferred">Preferred</option>
                    <option value="private">Private</option>
                    <option value="business">Business</option>
                    <option value="shipping">Shipping</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <textarea ng-model="vm.model.address" rows="5"
                          ng-readonly="!vm.addressEditable"></textarea>
            </div>
        </fieldset>
        <fieldset ng-if="!vm.subscriptionInvoiceData">
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.performance_period'|i18n}}</label>
                <input type="text" ng-model="vm.model.performance_period"/>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.tax_rate'|i18n}}</label>
                <input type="number" step="0.01" ng-model="vm.model.tax_rate"/>
            </div>
        </fieldset>
        <fieldset ng-if="vm.subscriptionInvoiceData">
            <h4>{{'billing.invoices.edit.labels.information.subscription_invoice.title'|i18n}}</h4>

            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.subscription_invoice.start_date'|i18n}}</label>
                <customfield ng-model="vm.subscriptionInvoiceData.start_date"
                             definition="{type:'date',required:true}"
                             name="date"
                             ng-required="true"></customfield>
            </div>
            <div class="form-group">
                <label>{{'billing.invoices.edit.labels.information.subscription_invoice.end_date'|i18n}}</label>
                <customfield ng-model="vm.subscriptionInvoiceData.end_date"
                             definition="{type:'date',required:true}"
                             name="date"
                             ng-required="true"></customfield>
            </div>
        </fieldset>
    </form>

    <div class="btn-group">
        <button type="button" ng-click="vm.close()">Close</button>
        <button class="btn-confirm" type="button" ng-click="vm.save()" ng-if="!vm.blockSubmit">Save changes</button>
        <span class="fal fa-spinner fa-spin" ng-if="vm.blockSubmit"></span>
    </div>
</div>